.main {
  background: rgb(255, 255, 191);
  width: 70vw;
  position: relative;
  left: 15vw;
  padding: 20px;
}

.text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  line-height: 2.5rem;
}

.cq {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  line-height: 1rem;
}